<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST PAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ecc4905394.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">
            <i class="fa fa-book" aria-hidden="true"></i>
        </a>
        <div class="nav-item active">
            <a class="nav-link light-text" href="#">Niubee Course</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="https://idpz.utorauth.utoronto.ca/idp/profile/SAML2/Redirect/SSO?execution=e1s1" target="_blank">Acorn</a>
            </ul>

            <div class="nav-link my-2 my-lg-0 dropdown">
                <a class="nav-link dropdown-toggle light-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Themes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div id='main-panel' class='row'>
            <div id='left-panel' class='border col-lg-2 col-md-4'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur consectetur accusantium non exercitationem laborum labore eligendi nisi doloremque esse voluptates iste quisquam ut et natus doloribus velit omnis tempora expedita, alias maxime rerum veritatis. Eveniet doloribus animi corrupti voluptates, cum ratione minima consectetur modi quaerat deleniti quibusdam reiciendis maxime saepe! Culpa architecto aperiam minima ab cupiditate id, saepe quisquam ratione quaerat nesciunt! Beatae, ducimus. Obcaecati suscipit natus cumque, ipsam necessitatibus minima quaerat facere at, id quis consequuntur. Aperiam est iste aliquam ducimus, odio optio eum provident numquam tempore neque repudiandae.
            </div>
            
            <div id='right-panel' class='col-lg-10 col-md-8'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, harum non eveniet optio earum blanditiis animi odio sit officia debitis maxime labore consequuntur soluta magni beatae repellat doloribus aperiam itaque excepturi. Facilis exercitationem iure corporis, maxime distinctio animi. Similique quidem laboriosam a et est expedita ipsum voluptatum quia aspernatur ad quaerat itaque iste dicta, tenetur eligendi adipisci iusto deserunt aliquid quas nihil vero amet beatae qui incidunt. Iure iste impedit natus sequi, architecto debitis fugit sed aliquam possimus porro quisquam maiores asperiores non beatae doloremque illum nostrum laborum ullam dolorem, quidem ab reprehenderit eaque sapiente voluptas. Suscipit iste voluptatem reprehenderit!
            </div>
        </div>
    </div>

</body>
</html>